name: Update README
on:
  schedule:
    - cron: '0 0 * * 0'  # Executa uma vez por semana
  workflow_dispatch:  # Permite execução manual
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update repositories list
        uses: dhruvramani/generate-repos-list@main
        with:
          username: ${{ github.0Augusto}}
          output_file: 'README.md'
          start_comment: '<!-- A lista será inserida aqui automaticamente -->'
          end_comment: '<!-- Fim da lista -->'
      - name: Commit and push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add README.md
          git commit -m "Update repositories list" || echo "No changes"
          git push
